<br>
<div class="container">
    <h1>Bem vindo Cliente</h1>
    <h4>Entre com seu login</h4>        
    <form>
        <div>
            <label for="exampleDropdownFormEmail1">Email</label>
            <input type="email" id="exampleDropdownFormEmail1" placeholder="email@exemplo.com.br">
        </div>
        <div>
            <label for="exampleDropdownFormPassword1">Senha</label>
            <input type="password"  id="exampleDropdownFormPassword1" placeholder="Senha">
        </div>
        <div></div>
        <button type="submit" >Entrar</button>
        <div></div>    
        <a  href="#">Primeiro acesso</a>            
        <a  href="#">Esqueceu a senha?</a>                  
    </form>        
</div>